@import url(./reset.css);

/**
* https://stackoverflow.com/questions/14123999/center-a-div-horizontally-and-vertically
*/
#container {
  position: absolute;
  max-width: 100%;
  width: 500px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#buttons-container {
  display: flex;
  gap: 4px;
  justify-content: center;
  max-width: 150px;
  margin: 0 auto;
}

.button {
  margin: 0 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  background-color: black;
  border: 1px solid black;
  text-decoration: none;
  transition: all 0.3s ease;
}

.special-button {
  
}
